@import url('https://fonts.googleapis.com/css2?family=Abel&family=Source+Sans+Pro:wght@300;400&display=swap');

* {
    font-family: 'Abel', sans-serif;
}

body.index {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    background-color: ghostwhite;
}

body.index header {
    flex: 0.9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    font-size: xx-large;
}

body.index h1 {
    display: flex;
    align-items: flex-end;
    justify-content: center;

    animation-name: colors;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes colors{
    from{
        color:crimson;
    }
    25%{
        color:gold;
    }
    50%{
        color:forestgreen;
    }
    75%{
        color:navy;
    }
    
    to{
        color: crimson;
    }
}

body.index main{
    flex: 1.1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: baseline;
    font-size: large;
}

.welcome {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0.6em;
}

.login {
    display: flex;
    align-items: center;
    justify-content: center;
}

.loginButton{
    background-color: black;
    color: white;
    margin: 1px;
}

.loginButton:hover{
    background-color:tomato;
}

.guestButton {
    background-color: white;
    color: black;
    border: 2px solid black;
    margin: 1px;
}

.guestButton:hover{
    background-color: blueviolet;
}

.navbar{
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    background-color: ghostwhite;
}

#aboutButton {
    background-color: crimson;
    color: white;
}

#playButton {
    background-color: gold;
}

#scoresButton {
    background-color: forestgreen;
    color: white;
}

#logoutButton{
    background-color: navy;
    color: white;
}


.nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.nav-item{
    margin:4px;
}

